body {
    margin: 0px;
    background-color: antiquewhite;
    font-family: 'Macondo', cursive;
}

a {
    text-decoration: none;
    color: aliceblue;
}

/* FOOTER */

    footer {
        background-color: rgb(45, 44, 44);
        color: aliceblue;
        padding: 0.5em;

        text-align: center;
        width: calc(100% - 1em);
    }

/* HEADER */

    header {
        background-color: rgb(45, 44, 44);
        color: aliceblue;
        padding: 0.5em;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        position: fixed;
        top: 0px;
        width: calc(100% - 1em);

        z-index: 1;
    }

    ul {
        margin: 0px;
    }

    li {
        display: inline;
    }

    .logo {
        height: 1em;
    }

/* Seccion: Nueva Academia */

    #nueva-academina {
        margin-top: 2em;
        min-height: 100vh;

        background-image: url('./../img/imagen-principal.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;

        position: relative;
    }

    #nueva-academina h1 {
        position: absolute;
        top: 35%;
        left: 50%;

        transform: translate(-50%, -50%);
        font-size: 2.5em;
        margin: 0px;
    }

    #subtitle {
        position: absolute;
        bottom: 10%;
        left: 0;

        padding-left: 2em;
        width: 25%;
    }

    #subtitle p {
        color: white;
    }

/* Seccion: Servicios */

    section#servicios {
        min-height: 120vh;

        display: flex;
        flex-flow: row nowrap;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    #servicios > div:nth-child(1) {
        border-right: 1px solid black;
        flex-basis: calc(60% - 1px);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #servicios > div:nth-child(1) > * {
        width: 80%;
    }

    #servicios > div:nth-child(2) {
        flex-basis: 40%;
        
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
    }

    #servicios .card {
        border: 1px solid black;
        width: 300px;
    }

    #servicios .card img {
        width: 100%;
    }

    #servicios .card p {
        text-align: center;
    }

/* Seccion: Equipo */

    #equipo {
        border-bottom: 1px solid black;
        min-height: 100vh;
        background-color: aquamarine;
    }

    #equipo img {
        width: 100%;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    #equipo h2 {
        margin: 0px;
        padding-top: 1em;
    }

    #equipo h2, #equipo h3, #equipo p {
        text-align: center;
    }

    .container-miembros {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
    }

    .container-miembros > div {
        flex-basis: 30%;
        border: 1px solid black;
        margin-bottom: 2em;
        border-radius: 20px;

        display: flex;
        flex-flow: column nowrap;
    }